@import 'variables';

.card {
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0, .15);
  padding: 20px;
  &_title {
    font-size: 24px;
    color: $main;
  };
  &_text {
    font-size: 16px;
    color: #2b2b2b;
  };
}
