@import 'variables';

.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dropdown-content {
  max-width: 300px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.13);
  padding: 16px;
  display: flex;
  flex-direction: column;
  .btn {
    background-color: #fff;
    color: #000;
    transition: all .15s;
    &:hover {
      background-color: $accent400;
      color: #fff;
    }
  }
}
