@import 'variables';

.color-picker {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cccccc;
  border-radius: 4px;
  padding: 10px 20px;
  transition: all .2s;
}
